---
import Layout from "../layouts/Layout.astro";
import "../index.scss";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="hero">
      <div class="hero__content">
        <h1 class="hero--title">Travel without limits!</h1>
        <p class="hero--description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta ut facere aliquam impedit ullam minus reprehenderit quia in laudantium sint.</p>
        <button class="hero--cta">Check offer</button>
      </div>
    </section>
  </main>
</Layout>
