---
interface Props {
  title: string;
  description: string | null;
  skill: string | null | undefined;
}

const { title, description, skill } = Astro.props;

const mapSkillToCss = {
  HTML: "text-orange-600",
  CSS: "text-blue-600",
  JavaScript: "text-yellow-600",
};
---

<div class="p-6 flex flex-col items-center gap-x-6 shadow-md">
  <div class="h-64">
    <img
      class="rounded-3xl w-64 h-64"
      src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%20%20%20%20%20%20%20%20%20%20%23holder%20text%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20fill%3A%20%23000000%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20font-family%3A%20sans-serif%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20font-size%3A%206px%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20font-weight%3A%20500%3B%0A%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%3C%2Fstyle%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Cg%20id%3D%22holder%22%3E%0A%20%20%20%20%20%20%20%20%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%231cd5ff%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%20%20%20%20%3Ctext%20text-anchor%3D%22middle%22%20x%3D%2250%25%22%20y%3D%2250%25%22%20dy%3D%22.3em%22%3EPlaceholder%20img%3C%2Ftext%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fsvg%3E"
      alt="Placeholder img"
    />
  </div>
  <div class="relative h-full pb-8">
    <h3
      class="mt-6 text-lg font-semibold leading-7 tracking-tight text-gray-900"
    >
      {title}
    </h3>
    <p class="text-base font-semibold leading-6 text-slate-700 my-8">
      {description}
    </p>
    <ul class="w-full flex justify-around absolute bottom-0">
      {
        mapSkillToCss[skill as string] ? (
          <li class={mapSkillToCss[skill as string]}>{skill}</li>
        ) : (
          <li class="text-cyan-600">{skill}</li>
        )
      }
    </ul>
  </div>
</div>
