<header class="fixed top-0 left-0 bg-sky-500 w-full flex justify-center z-10">
  <div class="container !px-0">
    <nav class="flex flex-col h-10 md:flex-row md:justify-between">
      <div class="flex min-h-full justify-between items-center px-2">
        <div>
          <p><a href="#home">MyPortfolio</a></p>
        </div>
        <button
          id="mobile-navigation"
          class="cursor-pointer flex items-center justify-center md:hidden"
        >
          <div class="nav-bars">
            <div class="nav-bar"></div>
            <div class="nav-bar"></div>
            <div class="nav-bar"></div>
          </div>
        </button>
      </div>
      <div class="flex justify-center max-w-full">
        <ul
          id="navigation-list"
          class="nav-close flex flex-col justify-around items-center w-screen h-screen text-3xl bg-slate-100 duration-500 md:flex-row md:h-10 md:w-auto md:bg-inherit md:text-base"
        >
          <li class="m-10"><a href="#home">Home</a></li>
          <li class="m-10"><a href="#portfolio">Portfolio</a></li>
          <li class="m-10"><a href="#tbd">TBD</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<style>
  .nav-bar {
    @apply bg-black h-[2px] transform transition-all origin-left;
  }

  .nav-bars {
    @apply flex flex-col justify-between w-[26px] h-5;
  }

  .nav-close {
    @apply translate-x-full md:translate-x-0;
  }

  body[data-navigation-open="true"] {
    @apply overflow-y-hidden md:overflow-auto;

    .nav-bar:nth-child(1) {
      @apply rotate-45;
    }
    .nav-bar:nth-child(2) {
      @apply hidden;
    }
    .nav-bar:nth-child(3) {
      @apply -rotate-45;
    }
  }
</style>

<script>
  function mobileNavigation() {
    const btn = document.getElementById("mobile-navigation");
    const list = document.getElementById("navigation-list")!;
    const listItems = list.querySelectorAll("li");

    function toogle() {
      list?.classList.toggle("nav-close");
      document.body.dataset.navigationOpen === "false"
        ? (document.body.dataset.navigationOpen = "true")
        : (document.body.dataset.navigationOpen = "false");
    }

    listItems?.forEach((link) => {
      link.addEventListener("click", toogle);
    });

    btn?.addEventListener("click", toogle);
  }

  document.addEventListener("DOMContentLoaded", mobileNavigation);
</script>
