body {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.hero {
  display: flex;
  align-items: center;
  height: 100vh;
}

.hero__content {
  margin-top: 8rem;
}

.hero--title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.05;
}

.modal-content {
  overflow: auto;
}

.hero--description {
  margin-top: 1.8rem;
  font-size: 1.5rem;
  line-height: 1.4;
  color: #333;
}

.hero--cta {
  margin-top: 3rem;
  padding: 0.8rem 1.6rem;
  font-size: 1.5rem;
  border: 1px solid #819dca;
  background-color: #819dca;
  transition: background-color 0.2s;
}

.hero--cta:hover {
  background-color: #7189b1;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  max-width: 700px;
  width: 100%;
  max-height: 90vh;
  transform: translate(-50%, -50%);
}

.modal-container {
  margin: 0 3.2rem;
  padding: 2rem 2.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #daf2fd;
  border: 1px solid #c2e9fb;
}

.modal-header {
  display: flex;
  justify-content: center;
}

.modal--title {
  font-size: 2.4rem;
}

.modal--description {
  margin-top: 2rem;
  font-size: 1.4rem;
}

.modal-footer {
  margin-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-btn {
  padding: 0.6rem 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  border: 1px solid #c2e9fb;
  background-color: #ceedfc;
  transition: background-color 0.3s;
}

.modal-btn:hover {
  background-color: #afd2e2;
}

.modal-icon--close {
  padding: 8px;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  right: 0;
}

.modal--show {
  display: flex;
}

.blur {
  filter: blur(3px);
}

@media (max-width: 768px) {
  .hero--title {
    font-size: 2.8rem;
  }

  .hero--description {
    font-size: 1.3rem;
  }

  .hero--cta {
    font-size: 1.3rem;
  }

  .modal--title {
    font-size: 2.2rem;
  }

  .modal--description {
    font-size: 1.2rem;
  }

  .modal-btn {
    font-size: 1rem;
  }

  .modal-icon--close {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 425px) {
  .hero--title {
    font-size: 2.6rem;
  }

  .hero--description {
    font-size: 1.2rem;
  }

  .hero--cta {
    font-size: 1.2rem;
  }

  .modal--title {
    font-size: 1.8rem;
  }

  .modal--description {
    font-size: 1rem;
  }

  .modal-footer {
    justify-content: space-evenly;
  }

  .modal-btn {
    margin: 0 0.2rem;
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
  }

  .modal-icon--close {
    width: 30px;
    height: 30px;
  }
}
